<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="DemoProject">

	<listeners>
		<listener class-name="com.demo.utilities.Reporting"/>
	</listeners>
	
	<test name = "LoginTest_Chrome">
		<parameter name = "browser" value = "chrome"/>
		<classes>
			
			<class name = "com.demo.testCases.TC_LoginTest_001"/>
			<!--<class name = "com.demo.testCases.TC_LoginTest_DataDriven_002"/>
			<class name = "com.demo.testCases.TC_addCustomer_003"/>-->
		</classes>
	</test>
	

	
</suite>